header{
    height: 200px;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: lightblue;
    border-color: black;
    border:1px solid;
}


table {
    border: 1px solid;
    border-color: black;
    width: 70%;
    padding: 20;
    border-radius: 15px;
    text-align: center;

}
  h1 {
    align-items: center;
    color:black;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;


  }
 
  th{
        background-color: lightgray;
        width: 140px;
        border: 2px solid;
        margin: auto;
        text-align: center;
      }
 tr td{
     border: 1px solid;
 }
